<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Assignment Node.js</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/jquery-1.12.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/default.css">

    <script>
        (function() {

            var setGlobal = function(key, value) {
                var data = $('<span>' + value + '</span>').text();
                try {
                    var json = JSON.parse(data);
                    window[key] = json;
                }
                catch (e) {
                    window[key] = data;
                }
            };

            setGlobal('user', '{{user}}');
        })();

    </script>
</head>

<body class="container">
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">

                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        TestAssignment
                    </a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    {{#if user}}
                        <li><a class="user-email-label"></a></li>
                        <li><a href="/logout">Выход</a></li>
                    {{else}}
                        <li><a href="/login">Вход</a></li>
                    {{/if}}
                </ul>

            </div>
        </nav>
    </header>

    <main>
        {{#if error}}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
                <strong>{{error}}</strong>
            </div>
        {{/if}}

        <div class="container">
            <div class="starter-template">
                {{{body}}}
            </div>
        </div>
    </main>
</body>