<script src="/js/pages/index.js"></script>

{{#if user}}
    <h3>User</h3>

    <div class="user-info">

        <div class="input-group">
            <span class="input-group-addon">Email</span>
            <input type="text" class="form-control user-email" readonly>
        </div>

        <div class="input-group">
            <span class="input-group-addon">Name</span>
            <input type="text" class="form-control user-name" readonly>
        </div>

        <div class="input-group">
            <span class="input-group-addon">Level</span>
            <input type="text" class="form-control user-level" readonly>

            <div class="btn-group user-buttons" role="group">
                <button type="button" class="btn btn-success btn-level-inc"><span class="glyphicon glyphicon-plus"></span></button>
                <button type="button" class="btn btn-warning btn-level-dec"><span class="glyphicon glyphicon-minus"></span></button>
            </div>

        </div>

        <div class="input-group">
            <span class="input-group-addon">Rank</span>
            <input type="text" class="form-control user-rank" readonly>

            <div class="btn-group user-buttons" role="group">
                <button type="button" class="btn btn-success btn-rank-inc"><span class="glyphicon glyphicon-plus"></span></button>
                <button type="button" class="btn btn-warning btn-rank-dec"><span class="glyphicon glyphicon-minus"></span></button>
            </div>
        </div>

    </div>

    <button type="button" class="btn btn-success btn-match-making">Match Making</button>

    <div class="ajax-response">
        API response:
        <pre></pre>
    </div>


{{else}}
    <a href="/login"><button type="button" class="btn btn-success">Вход Google OAuth 2.0</button></a>
{{/if}}