body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
}

.form-control {
    background-color: #ffffff !important;
}

.input-group {
    margin-top: 10px;
}

.user-info {
    width: 50%;
}

.input-group .form-control {
    width: 50%;
    margin-right: 10px;
}

.btn-match-making {
    margin-top: 20px;
}

.ajax-response {
    margin-top: 30px;
    width: 50%;
}